{
  "extends": [
    "prettier",
    "react-app"
  ],
  "plugins": [
    "react-hooks",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": 2,
    "react-hooks/rules-of-hooks": "error",
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      2,
      "never"
    ]
  },
  "globals": {
    "fixture": true,
    "test": true
  }
}
